<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <script src="script.js"></script>
    <title>Гідроізоляція ІФ</title>
</head>
<body>
    <footer>
        <div class="contact">
            <a><strong>Viber:</strong> +380682193905<br><strong>Telegram:</strong> +380685491076</a>
        </div>
        <div class="copyright">
            <a><strong>Copyright © 2024 Гідроізоляція ІФ</strong></a>
        </div>
        <div class="address">
            <a><strong>Адреса:</strong><br>Стуса 32/4 магазин 85</a>
        </div>
    </footer>
</body>