/*universal selector*/
*{
    margin: 0;
    padding: 0;
}
/*/universal selector*/

/*Header*/
header{
    width: 100%;
    max-height: 122px;
    background: #D9D9D9;
    border-bottom: 1px #616161 solid;
}

.uppheader{
    width: 100%;
    max-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headb{
    width: 10%;
    float: left;
    text-align: center;
    font-weight: bold;
}

.headb button{
    width: 90%;
    height: 35px;
    margin: 0px 10px 0px 5px;
    border: none;
    font-size: 90%;
}

.phone{
    width: 10%;
    height: 36px;
}

.smartphone img{
    width: 33%;
    height: 35px;
    float: left;
}

.phone a{
    width: 60%;
    float: left;
    color: black;
    font-size: 100%;
}

.logo{
    width: 80%;
    text-align: center;
}

.logo img{
    width: 270px; /*30%*/
    height: 70px
}

.like{
    width:15%;
}

.like img{
    width: 33%; 
    height: 35px;
    float: right;
}

.avuser{
    width: 5%;
}

.avuser img{
    width: 100%;
    height: 35px;
}

.underheader {
    width: 100%;
    max-height: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px #616161 solid;
    color: black;
    text-align: center;
}

.creator {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.creator a {
    margin: 5px 15px 5px 15px;
    font-size: 100%;
    font-weight: bold;
}

.creator img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
/*/Header*/

/*Main*/
main{
    width: 100%;
}

.categories {
    padding: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;;
  }

.category {
    height: 280px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10%;
    font-size: 250%;
    text-align: center;
}

.category a{
    color: white;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

#category1{
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(ProgectIMG/Добавки\ в\ бетон\ та\ розчин.jpg) center/cover;;
}

#category2{
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(ProgectIMG/Гідроіозоляція.jpg) center/cover;;
}

#category3{
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(ProgectIMG/Герметики\,\ шнури\ та\ сілікони.jpg) center/cover;;
}

#category4{
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(ProgectIMG/Захист\ бетону\ та\ каменю.jpg) center/cover;;
}

#category5{
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(ProgectIMG/Клей\ для\ плитки\ і\ каменю.jpg) center/cover;;
}

#category6{
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(ProgectIMG/Грунтовки\ та\ праймер.jpg) center/cover;;
}

.popular, .recentlyviewed{
    width: 100%;
    margin-top: 10px;
}

.fonblock{
    max-height: 35px;
    height: 100%;
    margin: 0 28%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004c99;
}

.fonblock a{
    color: #ffffff;
    font-size: 175%;
}

.tovar{
    padding: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;;
}

.product{
    max-height: 395px;
    height: 395px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

.product img{
    width: 90%;
    height: 60%;
    margin: 1% 2.5%;
    background-color: #004c99;
}

.product a{
    width: 90%;
    height: 30%;
    margin: 1% 2.5%;
    background-color: #004c99;
}
/*/Main*/

/*Footer*/
footer{
    width: 100%;
    max-height: 65px;
    height: 65px;
    border-top: 1 #616161 solid;
    background: #D9D9D9;
    color: black;
    text-align: center;
    line-height: 65px;
}
/*/Footer*/