{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'scripts/script.js' %}"></script>
    <title>Гідроізоляція ІФ</title>
</head>
<body>
    <header>
        <div class="uppheader">
            <div class="contactm">
                <a class="headerb" href="#">Про компанію</a>
                <img src="{% static 'images/smartphone.svg' %}" alt="">
                <a class="callnumber">+380685491076 +380682193905</a>
            </div>
            <div class="logo">
                <img src="{% static 'images/лого.svg' %}" alt="">
            </div>
            <div class="like">
                <div class="star">
                    <img src="{% static 'images/star.svg' %}" alt="">
                </div>
                <div class="scales">
                    <img src="{% static 'images/scales.svg' %}" alt="">
                </div>
                <div class="ShoppingCart">
                    <img src="{% static 'images/ShoppingCart.svg' %}" alt="">
                </div>
                <div class="avuser">
                    <img src="{% static 'images/user.svg' %}" alt="">
                </div>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="icons">
                <i class='bx bx-menu' id="menu-icon"></i>
                <i class='bx bx-x' id="close-icon"></i>
            </label>
    
            <nav class="navbar">
                <a href="#" style="--i:0;">Про компанію</a>
                <a href="#" style="--i:1;">Обрані</a>
                <a href="#" style="--i:2;">Порівняти</a>
                <a href="#" style="--i:3;">Кошик</a>
                <a href="#" style="--i:4;">Аккаунт</a>
            </nav>
        </div>
        <div class="underheader">
            <div class="creator">
                <input type="text" class="searchinput" placeholder="Введіть текст">
                <button>Знайти</button>
            </div>
        </div>
    </header>
    <main>
        <div class="categories">
            <div class="category" id="category1">
                <a>Добавки в бетон та розчин</a>
            </div>
            <div class="category" id="category2">
                <a>Гідроіозоляція</a>
            </div>
            <div class="category" id="category3">
                <a>Герметики, шнури та сілікони</a>
            </div>
            <div class="category" id="category4">
                <a>Захист бетону та каменю</a>
            </div>
            <div class="category" id="category5">
                <a>Клей для плитки і каменю</a>
            </div>
            <div class="category" id="category6">
                <a>Грунтовки та праймер</a>
            </div>
        </div>
        <div class="popular">
            <div class="fonblock"><a>Популярні товари</a></div>
            <div class="tovar">
                <div class="product" id="prodpop1">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodpop2">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodpop3">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodpop4">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodpop5">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodpop6">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodpop7">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodpop8">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
        <div class="carousel-dots" id="dots1">
            <span class="dot1 dot active" data-target="#prodpop1"></span>
            <span class="dot2 dot" data-target="#prodpop2"></span>
            <span class="dot3 dot" data-target="#prodpop3"></span>
            <span class="dot4 dot" data-target="#prodpop4"></span>
            <span class="dot5 dot" data-target="#prodpop5"></span>
            <span class="dot6 dot" data-target="#prodpop6"></span>
            <span class="dot7 dot" data-target="#prodpop7"></span>
            <span class="dot8 dot" data-target="#prodpop8"></span>
        </div> 
        <div class="recentlyviewed">
            <div class="fonblock"><a>Недавно переглянуті</a></div>
            <div class="tovar">
                <div class="product" id="prodrec1">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodrec2">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodrec3">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodrec4">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodrec5">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodrec6">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodrec7">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product" id="prodrec8">
                    <div class="border">
                        <div class="filling">
                            <img src="#" alt="" class="primage">
                            <div class="description">
                                <a href="#" class="name">CL-CLEAN Кл-КЛИН 5кг</a>
                                <a href="#" class="price">1044 ₴</a>
                                <a href="#" class="presence">В наявності</a>
                            </div>
                            <div class="active">
                                <button class="buybutton">Купити</button>
                                <img src="{% static 'images/star.svg' %}" alt="">
                                <img src="{% static 'images/scales.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>             
            </div>      
        </div>
        <div class="carousel-dots" id="dots2">
            <span class="dot1 dot active" data-target="#prodrec1"></span>
            <span class="dot2 dot" data-target="#prodrec2"></span>
            <span class="dot3 dot" data-target="#prodrec3"></span>
            <span class="dot4 dot" data-target="#prodrec4"></span>
            <span class="dot5 dot" data-target="#prodrec5"></span>
            <span class="dot6 dot" data-target="#prodrec6"></span>
            <span class="dot7 dot" data-target="#prodrec7"></span>
            <span class="dot8 dot" data-target="#prodrec8"></span>
        </div>
    </main>
    <footer>
        <div class="contact">
            <a><strong>Viber:</strong> +380682193905<br><strong>Telegram:</strong> +380685491076</a>
        </div>
        <div class="copyright">
            <a><strong>Copyright © 2024 Гідроізоляція ІФ</strong></a>
        </div>
        <div class="address">
            <a><strong>Адреса:</strong><br>Стуса 32/4 магазин 85</a>
        </div>
    </footer>
</body>